{{- define "emit.enum" -}}
{{ renderDocs .DocLines -}}
{{ if .Underlying }}type {{ .Name }} {{ renderType .Underlying }}
{{ end -}}
{{ with renderEnumVariants . }}const (
{{ . -}}
)
{{ end -}}
{{- end -}}
