{{- define "emit.function" -}}
{{ renderDocs .DocLines -}}
func {{ .Name }}{{ renderTypeParams .TypeParams }}{{ renderFunctionParams . }}{{ renderFunctionReturns . }} {
{{ renderFunctionBody . -}}
}
{{- end -}}
