{{- define "emit.function" -}}
{{ renderDocs .DocLines -}}
func {{ .Name }}{{ renderTypeParams .TypeParams }}{{ renderFunctionParams . }}{{ if .Returns }} {{ renderReturns .Returns }}{{ end }} {
{{ renderFunctionBody . -}}
}
{{- end -}}
