{{- define "emit.interface" -}}
{{ renderDocs .DocLines -}}
type {{ .Name }}{{ renderTypeParams .TypeParams }} interface {
{{ renderEmbeds .Embeds -}}
{{- range .Methods -}}
	{{ .Name }}{{ renderParams .Params }}{{ if .Returns }} {{ renderReturns .Returns }}{{ end }}
{{ end -}}
}
{{- end -}}
