{{- define "emit.interface" -}}
{{ renderDocs .DocLines -}}
type {{ .Name }}{{ renderTypeParams .TypeParams }} interface {
{{ renderInterfaceEmbeds . -}}
{{- range renderInterfaceMethods . -}}
	{{ .Name }}{{ renderMethodParams . }}{{ renderMethodReturns . }}
{{ end -}}
}
{{- end -}}
