{{- define "emit.method" -}}
{{ renderDocs .DocLines -}}
func{{ with renderReceiver . }} {{ . }}{{ end }} {{ .Name }}{{ renderTypeParams .TypeParams }}{{ renderMethodParams . }}{{ renderMethodReturns . }} {
{{ renderMethodBody . -}}
}
{{- end -}}
